@{
    ViewData["Title"] = "Home Page";
}


@using MetadataExtractor;
@model IReadOnlyList<Directory>;



    <style>
    #tbl td{
        padding-right: 10px;
    }
    </style>

<div>
    <h1 class="display-4">Welcome Matt</h1>
    <p>Meta data for an image.</p>


    <img src="/images/alw.jpg" />
    <table id="tbl">

    @{



        // print out all metadata
        foreach (var directory in Model){
            foreach (var tag in directory.Tags)
            {
                        <tr><td>@directory.Name</td><td>@tag.Name</td><td>@tag.Description</td></tr>

            }
        }


    }

</table>


</div>
