@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Matt</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="/help">Help</a>

    <a href="/menu">Menu</a>

      <a href="/menu">Menu 3</a>


          <a href="/menu">Menu 4</a>

</div>
